@model List<Publication.Models.Publication>

@{
    ViewBag.Title = "Publications";
}

<!--Bootstrap CDN link-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
<!--StyleSheet CSS-->
<style>
    /*.card-text {    
        white-space: normal !important;  /*Trying to fix the ... in the summary*/
        /*overflow: visible !important;
        text-overflow: clip !important;
        max-height: none !important;
    }*/
</style>

<h2 class="mb-4">Publications</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var pub in Model)
        {
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <!--Image-->
                    <img src="@pub.LeadingImage" class="card-img-top" alt="Image for @pub.Title" style="height: 200px; object-fit: cover;" />
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">@pub.GetPublicationType() </h6>
                        <blockquote><h5 class="card-title">@pub.Title</h5></blockquote>
                        <h6>by @pub.Author.FirstName @pub.Author.LastName</h6>
                        <p>@pub.Summary</p>
                        <a href="@pub.MainStoryURL" target="_blank">Read More</a>
                        <p class="text-muted"><strong>The date of publication is:</strong> @pub.GetDateFormat()</p>


                        @if (pub is Publication.Models.Book book)
                        {
                            <p class="text-muted"><strong>The number of Editions is:</strong> @book.Edition</p>
                        }


                    </div>
                </div>
            </div>
        }
    </div>
</div>
